/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@font-face {
  font-family: 'Gilroy-Light';
  src: url('fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('fonts/Gilroy-Bold.ttf');
}

* {
    font-family: 'Gilroy-Light', 'Gilroy-bold';
}

$ionicons-font-path: "../lib/ionic/fonts" !default;

$font-family-base: "Gilroy-Light", "Gilroy-bold" !default;

@import "www/lib/ionic/scss/ionic";

$headerColor: #FFFFFF;
$footerColor: #dedede;
$contentColor: #dedede;
$buttonsColor: #234988;

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    background-color: white;
    cursor: not-allowed;
}

@media(max-width: 750px){
  .fontResult{
    font-size: 11px;
  }
   .titleResult{
    font-size: 12px;
  }
}

@media(min-width: 751px){
  .fontResult{
    font-size: 18px;
  }
   .titleResult{
    font-size: 19px;
  }
  
}

.popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}

.item-note {
  float: right;
  color: #4a4747;
  font-size: 19px; 
  margin-top: -20px;
}

.popup-container .popup {
    width: 90%;
    background: transparent;
}

.popup-head {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    background-color: #79ea6a;
    color: #004180; 
    border-radius: 5px 5px 0 0;
    font-family: 'Gilroy-Light', 'Gilroy-bold';
}

.popup-body {
    background: white;
    width: 99.9%;
    text-align: center;
    font-family: 'Gilroy-Light', 'Gilroy-bold';
}

.popup-buttons {
    background: white;
    font-family: 'Gilroy-Light', 'Gilroy-bold';
}

.button-invert-location {
    z-index: 100;
    background-color: transparent;
    position: absolute;
    margin-top: 31px;
    margin-left: -7px;
    width: 4px;
}

.background-color-pattern{
    background-color: $buttonsColor;
}

.map{
    min-height: 100%;
    width: 100%;
    z-index: -1;
}

.font-color{
    color: $buttonsColor;
}

.padding-zero{
    padding: 0px;
}

.input-search{
    width: 100%;
    margin-left: 50px;
}

.background-white{
    background: white;
}

.padding-initial{
    position: absolute; 
    width: 100%; 
    top: 32px;
}

.rotate-90 {
  display: inline-block; 
  transform: rotate(90deg);
}

.item-input-inset {
    padding: 0px;
}

.background_input{
    background: $headerColor;
}

.scroll {
    height: 100%;
}
 
body{
    font-family: "FS Emeric", Helvetica, Arial, sans-serif;
}

.has-header {
    top: 52px;
}

.login{
    background-color: $headerColor;
}

.main{
    background-color: $contentColor;
}

.bar-main{
    background-color: $headerColor;
    color: #ffffff;
    height: 106px;

}

.bar-main-footer{
    background-color: $footerColor;
}

.button.button-login{
    border-color: $headerColor;
    background-color: $buttonsColor;
    color: #ffffff;
    font-family: "FS Emeric", Helvetica, Arial, sans-serif;
}

.bar.bar-login.bar-footer{
    border-color: transparent;
    background-color: $footerColor;
    color: $headerColor;
    font-family: "FS Emeric", Helvetica, Arial, sans-serif;
}

.app-logo{
    width: 100%;
    text-align: center;
}

a.item {
    margin-top: 3px;
}

.headerButton{
    background: $headerColor;
    color: $footerColor;
}

.open{
  color: green; 
}

.shippingIcon{
    text-align: right;
    margin-right: 10px;

    img{
        width: 28px;
        height: 28px;
    }
}

.button-continue{
    color: #ffffff;
    background-color: $buttonsColor;
    font-family: "FS Emeric", Helvetica, Arial, sans-serif;
}

.button-add{
    color: $headerColor;
    background-color: $buttonsColor;
    font-family: "FS Emeric", Helvetica, Arial, sans-serif;
}

.button-facebook{
    background-color: #365899;
    color: white;
}

.button:hover {
    color: $footerColor;
    text-decoration: none;
}

.bar.bar-vah {
    border-color: $headerColor;
    background-color: $headerColor;
    color: #fff;
    background-image: linear-gradient(0deg, $headerColor, $headerColor 50%, transparent 50%);
}

.bar .button-bar > .button, .bar .buttons > .button {
    min-height: 31px;
    line-height: 32px;
    color: #ffffff;
}

.menu .scroll-content {
    background-color: $contentColor;
}

.popup-buttons .button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    min-height: 45px;
    line-height: 20px;
    margin-right: 5px;
    border-color: transparent;
    background-color: #004180;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}


.button.button-positive {
    border-color: transparent;
    background-color: #004180;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

.item-body {
    overflow: auto;
    padding: -1px;
    text-overflow: inherit;
    white-space: normal;
}

.item-body h1, .item-body h2, .item-body h3, .item-body h4, .item-body h5, .item-body h6, .item-body p {
    margin-top: 0;
    margin-bottom: 16px;
}

.bar .button.button-clear, .bar button.button-clear {
    padding-right: 2px;
    padding-left: 2px;
    font-weight: 300;
    font-size: 14px;
    color: white;
}

.title .title-left .header-item{
    text-align: center;
}

.bar .title.title-left {
    text-align: center;
}

.item-stacked-label {
    display: block;
    background-color: white;
    box-shadow: none;
}

.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive {
    background-color: #ef473a;
    color: #fff;
    margin-top: 21px;
    font-size: 12px;
}

.total {
    margin-top: 0px;
}

.item-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 20px 0 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}

.item-radio .radio-icon{
    color: red;
}

.button.button-store{
    background-color: $headerColor;
    color: #ffffff;
}

.badge.badge-assertive {
    background-color: $headerColor;
    color: #fff;
    margin-top: 21px;
    font-size: 12px;
}

.badge.badge-assertiveopen {
    background-color: $buttonsColor;
    color: #fff;
    margin-top: 21px;
    font-size: 12px;
}

.colorButton{
    background-color: $buttonsColor;
    color: white;
}

.bar .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    min-height: 65px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
    vertical-align: top;
    font-size: 48px;
    line-height: 41px;
    margin-top: 6px;
}

.button_back .button_back.button-icon:before {
    vertical-align: top;
    font-size: 36px;
    line-height: 41px;
    margin-top: 6px;
}


.item-input-wrapper ~ .button {
     margin-left: 0px;
}

.card, .list-inset {
    overflow: visible;
    margin: 9px 10px;
    border-radius: 2px;
    background-color: #fff;
}

.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 106px;
  min-height: 100px; }
  .item-thumbnail-left > img:first-child,
  .item-thumbnail-left .item-image,
  .item-thumbnail-left .item-content > img:first-child,
  .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    background: transparent;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
}

.item p {
    color: #666;
    font-size: 16px;
    margin-bottom: 2px;
}

.bar-header {
    border-top-width: 0;
    border-bottom-width: 1px;
}

@font-face {
  font-family: primaryFont;
  src: url(../fonts/urw.ttf)
}

@font-face {
  font-family: secondFont;
  src: url(../fonts/futura_maxi_cg_bold_regular.otf)
}

.bar.bar-positive {
  border-color: #0c60ee;
  background-color: #234988;
  background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
  color: #fff; 
}

.bar-hearder-custom {
  background-color: #00498c;
  color: #79ea6a;
}

.title-home h1 {
  font-family: primaryFont;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #00498c;
}

.card-home {
  border-radius: 10px !important;
  margin-left: 20px;
  margin-right: 20px;
}

.card .item-home {  
  background-color: #00498c;
  border-radius: 10px !important;
  padding: 0px 0px 5px 16px
}

.item-home p, .item-home h2 {
  font-family: primaryFont;
  color: #fff;
  width: 60%;
}

.card .item-home p {
  font-size: 0.6em;
  padding-bottom: 20px;
  line-height: 90%; 
}

.card .item-home h2 {
  padding-top: 12px;
  font-size: 1.3em;
  font-weight: 100;
}

.title-featured {
  font-family: secondFont;
  color: #79ea6a;
}

.item-home img {
  position: absolute;
  right: 0;
  float: right;
  height: 85%;
}

.img-top {
  top: 0;
}

.img-bottom {
  bottom: 0;
}

.menu-burguer {
  font-family: primaryFont;
  height: 534px;
}

.title-item-menu {
  font-family: secondFont;
}

.menu-burguer .menu-item-simple {
  font-size: 1.2em;
}

.menu-burguer .item-complex .item-content {
  font-size: 1.2em;
}

.menu-burguer .menu-item-simple, .menu-burguer .item-complex .item-content {
  background-color: #00498c;
  color: #fff;
}

.menu-burguer .menu-icon a {
  padding-right: 10px;
}

.menu-burguer .menu-icon img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

.menu-burguer .btn-close {
  position: absolute;
  font-size: 18pt; 
  top: 15px;
  left: 20px;
  color: #00498c;
}

.menu-burguer .menu-burguer-footer {
  background-color: #79ea6a; 
  color: #00498c; 
  border-bottom-width: 0;
  font-size: 1.2em; 
  font-weight: 900;
}

.menu-burguer .menu-burguer-footer img {
  position: absolute;
  width: 35px;
  top: 10px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 525) {

}

@media screen and (max-width: 450px) {

}

.custom-class .popup-head {
  display: none;
}

.custom-class .popup-body {
  border-radius: 5px 5px 0 0;
}

.custom-class .popup-buttons {
  border-radius: 0 0 5px 5px;
}

.custom-class .popup-buttons .button:last-child {
    margin-right: 50px;
    margin-left: 50px;
}

.custom2-class .popup-head {
  display: none;
}

.notification-branco{
  color: white;
}

.notification-verde{
  color: #79ea6a;
}