<ion-view >

	<ion-nav-buttons side="left">

		<button class="button button-clear"
                style="color: #79ea6a; font-size: 32px;" ng-click="urbanCtrl.back()">
                <img src="img/back.png" style="width: 22px;     padding-top: 6px;" />
        </button>
        <button class="button button-clear" 
                style="color: #79ea6a; font-size: 32px; width: 34px;">
        </button>

   	</ion-nav-buttons>

	<ion-nav-title style="color: #fff;margin-left:25%">
        vah<span class="title-item-menu ">urbano</span>
    </ion-nav-title>

	 <ion-nav-buttons side="right">

	 	<img src="img/newimages/estrela_outline_verde_20.png" ng-show="!urbanCtrl.resultShow" ng-click="urbanCtrl.getFuncion()" 
	 		style="margin-top: 7px; " width="22px" height="22px" class="icon ion-ios-home-outline" ></img>
	 	
	 	<img src="img/newimages/casa_verde_20.png" ng-click="urbanCtrl.goHome()" 
	 		style="margin-top: 7px; margin-right: 10px; margin-left: 14px;" 
	 		width="22px" height="22px" class="icon ion-ios-home-outline" ng-click="urbanCtrl.home()"></img>

	 	
    </ion-nav-buttons>

	<ion-content class="main" style="top: 44px;">

		<div id="map" class="map" ng-init="urbanCtrl.initialize()"></div>

		<!-- SEARCH -->
		<div class="list padding padding-initial" style="top: 22px;" ng-show="urbanCtrl.searchShow" >

			<button class="button button-invert-location" ng-click="urbanCtrl.invertOriginDest()" style="margin-left: -18px;">
				<img src="img/newimages/invest_location.png" style="height: 28px;">
			</button>
			<div class="item item-input-inset padding-zero" style="margin-bottom: 3px; border-radius: 5px;">
				<label class="item-input-wrapper background-white">
					<input type="text" class="input-search" placeholder="Meu local de partida" style="height: 47px; background: white; margin-left: 20px;" 
						ng-readonly="true" ng-click="urbanCtrl.openModal(1)" ng-model="urbanCtrl.from">
				</label>
				<button class="button icon background-white font-color" 
 					ng-click="urbanCtrl.selectMyLocal()" >
 					<img src="img/newimages/my_location.png" style="height: 28px; position: absolute; left: 10px; top: 8px;">
 				</button>
			</div>
			<div class="item item-input-inset" style="padding: 0px; border-radius: 5px;">
				<label class="item-input-wrapper background-white">
					<input type="text" placeholder="Meu destino" ng-readonly="true" style="height: 47px; background: white; margin-left: 20px;" 
						ng-click="urbanCtrl.openModal(2)" ng-model="urbanCtrl.to" class="input-search">
				</label>
			</div>
			<div style="width: 100%; text-align: center; margin-top: 10px">
				<button 
						ng-click="urbanCtrl.search()" 
						style="background-color: Transparent;
							    background-repeat:no-repeat;
							    border: none;
							    cursor:pointer;
							    overflow: hidden;
							    outline:none;">
					<img src="img/newimages/btn_comparar.png" style="width: 30%;">
				</button>
			</div>
		</div>
		<!-- FIM SEARCH -->

		<!-- RESULT -->
		<div class="list padding padding-initial" ng-show="urbanCtrl.resultShow" style="top: 0px; background-color: #dedede;" >
			<div></div>
			<div style="margin-bottom: 11px; " >
			  	<div class="item item-icon-left" style="background-color: #f5f5f5; padding-left: 24px; padding-bottom: 11px; padding-top: 15px; border-radius: 5px 5px 0 0;">
				  	<h2 style="margin-left: -13px; margin-top: -11px; color: #fff">
				  		<span style="font-size: 11px; color: gray;">Meu local de partida</span><br />
				    	<b style="font-size: 14px; color: #00498c;">{{urbanCtrl.fromLocation.structured_formatting.main_text}}</b> <br />
					   	<span style="font-size: 14px; color: #00498c;">{{urbanCtrl.fromLocation.structured_formatting.secondary_text}}</span>
					</h2>
				</div>
				<div class="item item-icon-left" style="padding-left: 24px; padding-bottom: 20px; padding-top: 5px;">
				    <h2 style="margin-left: -13px; margin-top: 3px; margin-bottom: -11px;">
				    	<span style="font-size: 11px; color: gray;">Meu destino</span><br />
				    	<b style="font-size: 14px; color: #00498c;">{{urbanCtrl.toLocation.structured_formatting.main_text}}</b> <br />
					   	<span style="font-size: 14px; color: #00498c;">{{urbanCtrl.toLocation.structured_formatting.secondary_text}}</span>
				    </h2>
			  	</div>

			  <div class="item item-body" style=" background-color: #00498c; height: 40px; border-radius: 0 0 5px 5px;">
			    <p>
			      <div style="float: left; margin-top: -7px;"><span style="color: white; font-size: 13px;">Distância </span><b style="font-size: 15px; color: #6edb6d; ">{{urbanCtrl.distance}}</b></div>
			      <div style="float: right; margin-right: 3px;  margin-top: -7px;">
			      	<span style="color: white; font-size: 13px;">Duração </span><b style="font-size: 15px; color: #6edb6d;">{{urbanCtrl.duration}}</b></div>
			    </p>
			  </div>

			</div>	

			<div>
			    <div class="item item-thumbnail-left" 
			    	style="min-height: 66px; padding-left: 68px; padding-top: 0px; width: 100%; margin-bottom: 7px; padding-bottom: 0px; border-radius: 5px;" 
			    	ng-repeat="result in urbanCtrl.list track by $index"
			    	ng-click="urbanCtrl.openUrl(result)">
			    	<img src="{{result.image}}" style="max-width: 45px; max-height: 45px; margin-top: -1px; " >
			      	<p style="text-align: left; margin-top: 10px; ">
			      		<div style="margin-top: -1px;">

			      			<b style="white-space: normal; display: block; width: 50%; line-height:130%;" ng-show="result.modality.promotion.id" class="titleResult" >
			      				{{result.modality.name}}<br />
				      			<fontok class="fontResult" style="font-size: 9px;color: #b2b2b2; min-width: 120px;"><b>Chega em {{result.waiting_time? result.waiting_time / 60:0}} min.</b></fontok>
				      			<namepromotion ng-show="result.modality.promotion.id">
				      				<br /><ttt class="fontResult" style="color: #ff6242">{{result.modality.promotion.exibition_name}}</ttt>
				      			</namepromotion>
				      		</b>
				      		<b style="white-space: normal; display: block; width: 50%; line-height:130%; margin-top: 12px;" ng-show="!result.modality.promotion.id" class="titleResult" >
			      				<span style="position: absolute; top: 19px;">{{result.modality.name}}<br /></span>
				      			<fontok class="fontResult" style="font-size: 9px;color: #b2b2b2;  position: absolute; top: 34px; min-width: 120px;"><b>Chega em {{result.waiting_time? result.waiting_time / 60:0}} min.</b></fontok>
				      			<namepromotion ng-show="!result.modality.promotion.id">
				      				<br /><br />
				      			</namepromotion>
				      		</b>
					      	<span class="item-note" style="text-align: right;  ">
					      		<div style="width: 142px; text-align: center; margin-top: -24px; margin-right: 4px;" ng-show="result.modality.promotion.id || result.multiplier > 1">
						      		<price > 
						      			<br ng-show="result.multiplier > 1"/>
						      			<b style="margin-left: 10px; font-size: 16px;">{{result.price}}</b>
						      		</price>
					      		</div>
					      		<div ng-show="!result.modality.promotion.id && (!result.multiplier || result.multiplier <= 1)" style="width: 142px; text-align: center; margin-top: -8px;">
						      		<price > 
						      			<b style="margin-left: 32px; font-size: 16px; position: absolute; top: 14px; right: 10px; width: 120px; text-align: center;">{{result.price}}</b>
						      		</price>
					      		</div>
					      	</span>
				      	</div>
				      	<div style="float: right; position: absolute; top: 9px; right: 15px; line-height: 0.9;">
				      		<img src="img/raio.png" style="height: 32px; position: absolute; left: -27px; top: 7px;" 
				      			ng-show="result.multiplier > 1 && !result.modality.promotion.id"><br/>
				      		<multiplier style="font-size: 10px; position: absolute; left: -27px; left: -23px; top: 42px;" 
				      			ng-show="!result.modality.promotion.id && result.multiplier > 1">{{result.multiplier}}x</multiplier> 

				      		<div ng-show="result.modality.promotion.id" style="width: 32px;
							    font-size: 11px;
							    position: absolute;
							    left: -34px;
							    top: 3px;
							    border: 1px solid #b2b2b2;
							    border-radius: 4px;
							    padding: 3px;
							    color: #b2b2b2;">{{result.modality.promotion.off}}%</div>
				      		<div ng-show="result.modality.promotion.id || result.multiplier > 1"
				      			style=" 
				      					color: white;
				      					font-size: 14px; 
				      					position: absolute; 
				      					top: 25px;
										left: -115px;">
				      			<img src="img/newimages/chamar_agora.png" style="height: 22px;">
				      		</div>
				      		<div ng-show="!result.modality.promotion.id && (!result.multiplier || result.multiplier <= 1)"
				      			style="color: white;
				      					font-size: 14px; 
				      					position: absolute; 
				      					top: 26px;
				      					left: -115px;">
				      			<img src="img/newimages/chamar_agora.png" style="height: 22px;">
				      		</div>
			      		</div>
				   	</p>
			    </div>

			</div>

		</div>

		<!-- FIM RESULT -->

		
		
	</ion-content>

	<script id="search_modal.html" type="text/ng-template">
	      <ion-modal-view>

	      	<ion-nav-bar class="bar bar-header bar-hearder-custom">
	      		<ion-nav-title style="color: #fff;">
			        vah<span class="title-item-menu ">urbano</span>
			    </ion-nav-title>

				 <ion-nav-buttons side="left">
				 	<button class="button button-clear ion-android-close" 
			                style="color: #79ea6a; font-size: 32px;" ng-click="closeModal();">
			                <i class="icon ion-android-close" style="color: #234988; "></i>
			        </button>
			    </ion-nav-buttons>

		    </ion-nav-bar>

	        <ion-content class="padding" style="margin-top: 39px; background-color: #dedede;">
	          <div class="list" style="padding-top: 13px; width: 98%; ">
	            <div class="item item-input-inset padding-zero" style="background: transparent;">
					<label class="item-input-wrapper background-white" style="border-radius: 5px;">
						<input type="text" placeholder="Insira aqui o endereço" 
							style="height: 45px; background: white; width: 100%; font-size: 15px; font-weight: bold; background: transparent;" 
							ng-keyup="urbanCtrl.getPlaces(urbanCtrl.searchFrom)"
							ng-model="urbanCtrl.searchFrom">
					</label>
					<button class="button icon background-white font-color" 
	 					ng-click="urbanCtrl.cleanSearch()" ng-show="urbanCtrl.searchFrom.length > 1;">
	 					<i class="ion-android-close" 
	 					style="height: 35px; position: absolute; left: 24px; top: 3px; font-size: 24px; color: rgba(35, 73, 136, 0.47);"></i> 
	 				</button>
				</div>

				<div style="margin-top: 20px; ">


					<div class="list card" ng-show="urbanCtrl.house.address && urbanCtrl.searchFrom.length < 3" 
						style="width: 98%; margin-left: 1%; margin-top: -2px; text-align: center; border-radius: 5px;">
						<div class="item" style="left: -12px; width: 110%; margin-top: -12px; z-index: 1003; width: 90%; background: transparent;  padding-top: 5px; padding-bottom: 5px;">
						    <button ng-click="urbanCtrl.selectAddress(urbanCtrl.house)" 
						  		class="item item-icon-left" style="width: 100%; text-align: left; margin-top: 12px; font-size: 14px;">
						    	<i class="icon ion-ios-home" style="color: #234988"></i>
						    		<b>{{urbanCtrl.house.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px;">{{urbanCtrl.house.structured_formatting.secondary_text}}</span> <br />
						  	</button>
						</div>			
					</div>

					<div class="list card" ng-show="urbanCtrl.work.address && urbanCtrl.searchFrom.length < 3"
					 	style="width: 98%; margin-left: 1%; margin-top: -2px; text-align: center; border-radius: 5px;">
						<div class="item" style="left: -12px; width: 110%; margin-top: -12px; z-index: 1003; width: 90%; background: transparent;     padding-bottom: 5px;">
						    <button ng-click="urbanCtrl.selectAddress(urbanCtrl.work)"
						  		class="item item-icon-left" style="width: 100%; text-align: left; font-size: 14px;">
						    	<i class="icon ion-ios-briefcase" style="color: #234988"></i>
						    		<b>{{urbanCtrl.work.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px;">{{urbanCtrl.work.structured_formatting.secondary_text}}</span> <br />
						  	</button>
						</div>			
					</div>



					<div class="card" ng-show="urbanCtrl.favorites.length > 0 && urbanCtrl.searchFrom.length < 3" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px">
						<div class="item item-divider" style="background-color: #00498c; color: white; text-align: center; border-radius: 5px 5px 0 0;">
					    	Favoritos
					  	</div>
						<div class="item" style="padding: 4px; background: transparent;">	
							<favorites ng-show="urbanCtrl.favorites && urbanCtrl.favorites.length > 0" style="" >
								<div class="item " style="opacity: 1.0; left: -16px; width: 110%; padding-top: 2px; padding-bottom: 2px;" 
									ng-repeat="favorite in urbanCtrl.favorites" ng-click="urbanCtrl.selectAddress(favorite)" >
								    <img src="img/newimages/estrela-preenchimento_azul.png" style="position: absolute; top: 6px; left: 84%; "></i>
								    <b style="font-size: 14px; margin-left: 10px;">{{favorite.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px; margin-left: 10px;">{{favorite.structured_formatting.secondary_text}}</span> <br />
								</div>
							</favorites>
						</div>
					</div>
					<div class="card" ng-show="urbanCtrl.history.length > 0 && urbanCtrl.searchFrom.length < 3" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px;">
						<div class="item item-divider" style="background-color: #00498c; color: white; text-align: center; border-radius: 5px 5px 0 0;">
					    	Histórico de buscas
					  	</div>
						<div class="item" style="padding: 4px; background: transparent;">
							<history ng-show="urbanCtrl.history && urbanCtrl.history.length > 0">

								<div class="item " style="opacity: 1.0; left: -16px; width: 110%; padding-top: 2px; padding-bottom: 2px;" 
									ng-repeat="hist in urbanCtrl.history" ng-click="urbanCtrl.selectAddress(hist)">
								    <img src="img/newimages/estrela_outline_cinza.png" style="position: absolute; top: 6px; left: 84%; "></i>
								    <b style="font-size: 14px; margin-left: 10px;">{{hist.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px; margin-left: 10px;">{{hist.structured_formatting.secondary_text}}</span> <br />
								</div>

							</history>
						</div>
					</div>

					<div class="list" ng-show="urbanCtrl.searchFrom.length >= 3">
					  	<button ng-repeat="favorite in urbanCtrl.resultPlaces track by $index" 
					  		ng-click="urbanCtrl.selectResultPlaces(favorite)"
					  		class="item item-icon-left" style="width: 100%; text-align: left; font-size: 14px; border-radius: 5px;">
					    	<i class="icon ion-location" style="color: #234988"></i>
					   			<b>{{favorite.structured_formatting.main_text}}</b> <br />
					   			<span style="color: #928e8e; font-size: 12px;">{{favorite.structured_formatting.secondary_text}}</span> <br />
					  	</button>
		            </div>
	            </div>
	          </div>
	        </ion-content>
	      </ion-modal-view>
	    </script>

</ion-view>
