<ion-side-menus>
  <ion-side-menu-content>		
    <ion-nav-bar class="bar bar-header bar-hearder-custom">
      <ion-nav-buttons side="left">
        <button class="button button-clear ion-navicon"
                style="color: #79ea6a; font-size: 32px;" menu-and-drawer-toggle>
                <i class="icon ion-navicon" style="color: #234988; "></i>
        </button>
        <button class="button button-clear" 
                style="color: #79ea6a; font-size: 32px; width: 34px;">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-title>
          <img src="img/logo.png" style="vertical-align: middle; right: 69px;" height="20px">
      </ion-nav-title>
    </ion-nav-bar>

    <ion-pane drawer-menu-content>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>
  </ion-side-menu-content>

  <drawer side="left" class="menu-burguer" style="height: 100%; background-color: #00498c;">
    <ion-content>
      <ion-list>
        <ion-item class="menu-icon" 
                  style="height: 54px; background-color: #fff;">
          <i class="ion-close-round btn-close" menu-and-drawer-close></i>
          <img src="img/logo-inverso.png" 
               style="width: 70px; top: 13px; right: 50px;">
        </ion-item>
        <ion-item ng-show="appCtrl.showUrban()" class="menu-icon" menu-and-drawer-close ng-click="appCtrl.fnUrban()" href="">
          vah<span class="title-item-menu ">urbano</span>
          <img src="img/icon-menu-cars.png"
               style="top: 15px;">
        </ion-item>
        <ion-item class="menu-icon" ng-show="appCtrl.showAereo()" menu-and-drawer-close ng-click="appCtrl.fnAerial()" href="">
          vah<span class="title-item-menu ">aéreo</span>
          <img src="img/icon-menu-aerial.png">
        </ion-item>
        <ion-item  class="menu-icon" ng-show="appCtrl.showHotel()" menu-and-drawer-close ng-click="appCtrl.fnHotel()" href="">
          vah<span class="title-item-menu ">hotéis</span>
          <img src="img/icon-menu-hotel.png"
               style="width: 18px; right: 22px;">
        </ion-item>
        <ion-item  class="menu-icon" ng-show="appCtrl.showLocacao()" menu-and-drawer-close ng-click="appCtrl.fnRental()" href="">
          vah<span class="title-item-menu ">locação</span>
          <img src="img/icon-menu-rental.png">
        </ion-item>
        <ion-item  class="menu-icon" ng-show="appCtrl.showPacotes()" menu-and-drawer-close ng-click="appCtrl.fnRental()" href="">
          vah<span class="title-item-menu ">pacotes</span>
          <img src="img/newimages/icon_menu_pacotes.png">
        </ion-item>

        <ion-item class="menu-item-simple item-icon-right" ng-click="toggleGroup()" ng-class="{active: isGroupShown()}">
          <div ng-class="isGroupShown() ? 'item-text-center item-text-wrap notification-verde' : 'item-text-center item-text-wrap notification-branco'" class="">notificações</div>
          <i class="icon" ng-class="isGroupShown() ? 'ion-ios-arrow-up notification-verde' : 'ion-ios-arrow-down notification-branco'" style="font-size: 25px;"></i>
        </ion-item>

        <ion-item class="menu-item-simple item-accordion item-icon-right" ng-show="isGroupShown()" style="border-style: none; padding: 13px;">
          <div class="item-text-center item-text-wrap" style="margin-left: 11px;">vah<span class="title-item-menu ">urbano</span></div>
          <img src="img/newimages/select-on.png" width="25px" ng-show="isSelected(1)" ng-click="select(1);" style="position: absolute; top: 12px; right: 16px;">
          <img src="img/newimages/no-select.png" width="25px" ng-show="!isSelected(1)" ng-click="select(1);" style="position: absolute; top: 12px; right: 16px;">
        </ion-item>

        <ion-item class="menu-item-simple item-accordion item-icon-right" ng-show="isGroupShown()" style="border-style: none; padding: 13px;">
          <div class="item-text-center item-text-wrap" style="margin-left: 11px;">vah<span class="title-item-menu ">aéreo</span></div>
          <img src="img/newimages/select-on.png" width="25px" ng-show="isSelected(2)" ng-click="select(2);" style="position: absolute; top: 12px; right: 16px;">
          <img src="img/newimages/no-select.png" width="25px" ng-show="!isSelected(2)" ng-click="select(2);" style="position: absolute; top: 12px; right: 16px;">
        </ion-item>

        <ion-item class="menu-item-simple item-accordion item-icon-right" ng-show="isGroupShown()" style="border-style: none; padding: 13px;">
          <div class="item-text-center item-text-wrap" style="margin-left: 11px;">vah<span class="title-item-menu ">hotéis</span></div>
          <img src="img/newimages/select-on.png" width="25px" ng-show="isSelected(3)" ng-click="select(3);" style="position: absolute; top: 12px; right: 16px;">
          <img src="img/newimages/no-select.png" width="25px" ng-show="!isSelected(3)" ng-click="select(3);" style="position: absolute; top: 12px; right: 16px;">
        </ion-item>

        <ion-item class="menu-item-simple item-accordion item-icon-right"  ng-show="isGroupShown()" style="border-style: none; padding: 13px;">
          <div class="item-text-center item-text-wrap" style="margin-left: 11px;">vah<span class="title-item-menu ">locação</span></div>
          <img src="img/newimages/select-on.png" width="25px" ng-show="isSelected(4)" ng-click="select(4);" style="position: absolute; top: 12px; right: 16px;">
          <img src="img/newimages/no-select.png" width="25px" ng-show="!isSelected(4)" ng-click="select(4);" style="position: absolute; top: 12px; right: 16px;">
        </ion-item>

        <ion-item class="menu-item-simple item-accordion item-icon-right" ng-show="isGroupShown()" style="border-style: none; padding: 13px;">
          <div class="item-text-center item-text-wrap" style="margin-left: 11px;">vah<span class="title-item-menu ">pacotes</span></div>
          <img src="img/newimages/select-on.png" width="25px" ng-show="isSelected(5)" ng-click="select(5);" style="position: absolute; top: 12px; right: 16px;">
          <img src="img/newimages/no-select.png" width="25px" ng-show="!isSelected(5)" ng-click="select(5);" style="position: absolute; top: 12px; right: 16px;">
        </ion-item>

        <ion-item menu-and-drawer-close class="menu-item-simple" ng-click="appCtrl.goSobre()">
          sobre
        </ion-item>
        <ion-item menu-and-drawer-close class="menu-item-simple" ng-click="appCtrl.goUse()">
          termos de uso
        </ion-item>
        <ion-item menu-and-drawer-close class="menu-item-simple" ng-click="openAvalie()">
          avalie-nos
        </ion-item>
        <ion-item menu-and-drawer-close class="menu-item-simple" ng-click="appCtrl.goContact()">
          contato
        </ion-item>
        <ion-item menu-and-drawer-close class="menu-burguer-footer">
          recomende
           <a href="https://www.facebook.com/appvah/" target="_system">
            <img src="img/facebook.png" style="right: 90px;">
          </a>
           <a href="https://www.instagram.com/appvah/" target="_system"><img src="img/instagram.png" style="right: 20px;"></a>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </drawer>
</ion-side-menus>