<ion-view>
	<ion-content>

      <div class="title-home">
        <h1 style="margin-top: 5px; font-size: 16px; margin-bottom: 13px;">Escolha e compare!</h1>
      </div>    
      
      <div class="card card-home" ng-click="homeCtrl.fnUrban()">
        <div class="item item-text-wrap item-home " 
             style="height: 84px; width: 100%;">
          <img src="img/cars.png" class="img-top" style="top: 7px;">
          <h2>vah<span class="title-featured">urbano</span></h2>
          <p style="line-height: 13px !important">
            Compare os preços entre taxis e carros particulares e encontre promoções todos os dias!
          </p>
        </div>
      </div>

      <div class="card card-home" ng-click="homeCtrl.fnAerial()" >
        <div class="item item-text-wrap item-home " 
        style="height: 84px; width: 100%;">
           <img src="img/aerial.png" class="img-bottom">
          <h2>vah<span class="title-featured">aéreo</span></h2>
          <p style="line-height: 13px !important">
            Compare os preços das passagens áreas atualizadas minuto a minuto!
          </p>
        </div>
      </div>

      <div class="card card-home" ng-click="homeCtrl.fnHotel()">
        <div class="item item-text-wrap item-home " 
        style="height: 84px; width: 100%;">
          <img src="img/hotel.png" class="img-bottom">
          <h2>vah<span class="title-featured">hotéis</span></h2>
          <p style="line-height: 13px !important">
            Compare os preços e economize com sua próxima hospedagem!
          </p>
        </div>
      </div>

      <div class="card card-home" ng-click="homeCtrl.fnRental()">
        <div class="item item-text-wrap item-home " 
        style="height: 84px; width: 100%;">
          <img src="img/rental.png" class="img-bottom">
          <h2>vah<span class="title-featured">locação</span></h2>
          <p style="line-height: 13px !important">
            Compare os preços e alugue um carro sempre que precisar!
          </p>
        </div>
      </div>

      <div class="card card-home" ng-click="homeCtrl.fnPacotes()">
        <div class="item item-text-wrap item-home " 
        style="height: 84px; width: 100%;">
          <img src="img/newimages/cadeiras.png" class="img-bottom">
          <h2>vah<span class="title-featured">pacotes</span></h2>
          <p style="line-height: 13px !important">
            Os melhores carros com as melhores locadoras.</p>
        </div>
      </div>

	</ion-content>
</ion-view>
