<ion-view class="loginBg" >
		
		<ion-nav-buttons side="left">
			<button class="button button-clear"
	                style="color: #79ea6a; font-size: 32px;" ng-click="adminCtrl.back()">
	                <img src="img/back.png" style="width: 22px; padding-top: 6px;" />
	        </button>
    	</ion-nav-buttons>

		<ion-nav-title style="color: #fff;margin-left:5%">
	        vah<span class="title-item-menu ">urbano</span>
	    </ion-nav-title>

	 	<ion-nav-buttons side="right">
	 		<img src="img/newimages/estrela_selected_verde_20.png" style="margin-top: 7px; " width="20px" height="20px" class="icon ion-ios-home-outline" ></img>
	 		<img src="img/newimages/casa_verde_20.png" style="margin-top: 7px; margin-right: 15px; margin-left: 10px;" width="20px" height="20px" class="icon ion-ios-home-outline" ng-click="adminCtrl.home()"></img>
    	</ion-nav-buttons>

	<ion-content class="main" style="top: 44px;">
		<div class="padding padding-initial" style="top: 10px;" style="background-color: gray;" ng-show="adminCtrl.adminShow">
			
			<div class="list card"  style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px;">
				<div class="item item-icon-left" style="width: 110%; margin-top: -12px; z-index: 1003; width: 90%; 
				background: transparent; padding-bottom: 4px; left: -7px; top: 1px;">
					<i class="icon ion-ios-home" style="color: #234988" ng-show="adminCtrl.house && adminCtrl.house.structured_formatting.main_text && adminCtrl.house.structured_formatting != ''"></i>	
				    <input type="text" id="house-complete" 
						placeholder="Adicionar Minha Casa" 
						ng-readonly="true" 
						ng-click="adminCtrl.openModal(3)"
						style="width: 100%; height: 20px; font-weight: bold; font-size: 14px;" 
						ng-model="adminCtrl.house.structured_formatting.main_text"> 
					<span style="color: #928e8e; font-size: 12px;" 
						ng-click="adminCtrl.openModal(3)" 
						ng-show="adminCtrl.house.structured_formatting">{{adminCtrl.house.structured_formatting.secondary_text}} <br /></span> 
				</div>			
			</div>

			<div class="list card" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px;">
				<div class="item item-icon-left" style="left: -7px; width: 110%; margin-top: -12px; z-index: 1003; 
						width: 90%; background: transparent; padding-bottom: 4px; top: 1px;">
					<i class="icon ion-ios-briefcase" style="color: #234988" ng-show="adminCtrl.work && adminCtrl.work.structured_formatting.main_text  && adminCtrl.work.structured_formatting != ''""></i>
				    <input type="text" id="work-complete" 
				    	ng-readonly="true" 
				    	ng-click="adminCtrl.openModal(4)"
				    	placeholder="Adicionar Meu Trabalho" 
						style="width: 100%; height: 20px; font-weight: bold; font-size: 14px;" 
						ng-model="adminCtrl.work.structured_formatting.main_text">
					<span style="color: #928e8e; font-size: 12px;" 
						ng-click="adminCtrl.openModal(4)" 
						ng-show="adminCtrl.work.structured_formatting">{{adminCtrl.work.structured_formatting.secondary_text}} <br /></span> 
				</div>			
			</div>

			<div class="card" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px">
				<div class="item item-divider" style="background-color: #00498c; color: white; text-align: center; border-radius: 5px 5px 0 0;">
			    	Favoritos
			  	</div>
				<div class="item" style="padding: 4px; background: transparent;">	
					<favorites ng-show="adminCtrl.favorites && adminCtrl.favorites.length > 0" style="">
						<div class="item " style="opacity: 1.0; left: -16px; width: 110%; padding-top: 2px; padding-bottom: 2px;" 
							ng-repeat="favority in adminCtrl.favorites" ng-click="adminCtrl.removeFavority(favority)">
						    <img src="img/newimages/estrela-preenchimento_azul.png" style="position: absolute; top: 6px; left: 84%; "></i>
						    <b style="font-size: 14px; margin-left: 10px;">{{favority.structured_formatting.main_text}}</b> <br />
				   			<span style="color: #928e8e; font-size: 12px; margin-left: 10px;">{{favority.structured_formatting.secondary_text}}</span> <br />
						</div>
					</favorites>
				</div>
			</div>
			<div class="card" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px;">
				<div class="item item-divider" style="background-color: #00498c; color: white; text-align: center; border-radius: 5px 5px 0 0;">
			    	Histórico de buscas
			  	</div>
				<div class="item" style="padding: 4px; background: transparent;">
					<history ng-show="adminCtrl.history && adminCtrl.history.length > 0">

						<div class="item " style="opacity: 1.0; left: -16px; width: 110%; padding-top: 2px; padding-bottom: 2px;" 
							ng-repeat="history in adminCtrl.history">
						    <img src="img/newimages/estrela_outline_cinza.png" ng-click="adminCtrl.addFavorite(history)" style="position: absolute; top: 6px; left: 84%; "></i>
						    <b style="font-size: 14px; margin-left: 10px;">{{history.structured_formatting.main_text}}</b> <br />
				   			<span style="color: #928e8e; font-size: 12px; margin-left: 10px;">{{history.structured_formatting.secondary_text}}</span> <br />
						</div>

					</history>
				</div>
			</div>
		</div>
	</ion-content>


	<script id="search_modal.html" type="text/ng-template">
	      <ion-modal-view style="background: transparent;">

	      	<ion-nav-bar class="bar bar-header bar-hearder-custom">
	      		<ion-nav-title style="color: #fff;">
			        vah<span class="title-item-menu ">urbano</span>
			    </ion-nav-title>

				 <ion-nav-buttons side="left">
				 	<button class="button button-clear ion-android-close" 
			                style="color: #79ea6a; font-size: 32px;" ng-click="closeModal();">
			                <i class="icon ion-android-close" style="color: #234988; "></i>
			        </button>
			    </ion-nav-buttons>

		    </ion-nav-bar>

	        <ion-content class="padding" style="margin-top: 39px;">
	          <div class="list" style="padding-top: 13px; width: 98%; ">
	            <div class="item item-input-inset padding-zero" style="background: transparent;">
					<label class="item-input-wrapper background-white" style="border-radius: 5px;">
						<input type="text" placeholder="Insira aqui o endereço" 
							style="height: 45px; background: white; width: 100%; font-size: 15px; font-weight: bold; background: transparent;" 
							ng-keyup="adminCtrl.getPlaces(adminCtrl.searchFrom)"
							ng-model="adminCtrl.searchFrom">
					</label>
					<button class="button icon background-white font-color" 
	 					ng-click="adminCtrl.cleanSearch()" ng-show="adminCtrl.searchFrom.length > 1;">
	 					<i class="ion-android-close" 
	 					style="height: 35px; position: absolute; left: 24px; top: 3px; font-size: 24px; color: rgba(35, 73, 136, 0.47);"></i> 
	 				</button>
				</div>

				<div style="margin-top: 20px; ">


					<div class="list card" ng-show="adminCtrl.house.address && adminCtrl.searchFrom.length < 3" 
						style="width: 98%; margin-left: 1%; margin-top: -2px; text-align: center; border-radius: 5px;">
						<div class="item" style="left: -12px; width: 110%; margin-top: -12px; z-index: 1003; width: 90%; background: transparent;  padding-top: 5px; padding-bottom: 5px;">
						    <button ng-click="adminCtrl.selectAddress(adminCtrl.house)" 
						  		class="item item-icon-left" style="width: 100%; text-align: left; margin-top: 12px; font-size: 14px;">
						    	<i class="icon ion-ios-home" style="color: #234988"></i>
						    		<b>{{adminCtrl.house.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px;">{{adminCtrl.house.structured_formatting.secondary_text}}</span> <br />
						  	</button>
						</div>			
					</div>

					<div class="list card" ng-show="adminCtrl.work.address && adminCtrl.searchFrom.length < 3"
					 	style="width: 98%; margin-left: 1%; margin-top: -2px; text-align: center; border-radius: 5px;">
						<div class="item" style="left: -12px; width: 110%; margin-top: -12px; z-index: 1003; width: 90%; background: transparent;     padding-bottom: 5px;">
						    <button ng-click="adminCtrl.selectAddress(adminCtrl.work)"
						  		class="item item-icon-left" style="width: 100%; text-align: left; font-size: 14px;">
						    	<i class="icon ion-ios-briefcase" style="color: #234988"></i>
						    		<b>{{adminCtrl.work.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px;">{{adminCtrl.work.structured_formatting.secondary_text}}</span> <br />
						  	</button>
						</div>			
					</div>



					<div class="card" ng-show="adminCtrl.favorites.length > 0 && adminCtrl.searchFrom.length < 3" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px">
						<div class="item item-divider" style="background-color: #00498c; color: white; text-align: center; border-radius: 5px 5px 0 0;">
					    	Favoritos
					  	</div>
						<div class="item" style="padding: 4px; background: transparent;">	
							<favorites ng-show="adminCtrl.favorites && adminCtrl.favorites.length > 0" style="" >
								<div class="item " style="opacity: 1.0; left: -16px; width: 110%; padding-top: 2px; padding-bottom: 2px;" 
									ng-repeat="favorite in adminCtrl.favorites" ng-click="adminCtrl.selectAddress(favorite)" >
								    <img src="img/newimages/estrela-preenchimento_azul.png" style="position: absolute; top: 6px; left: 84%; "></i>
								    <b style="font-size: 14px; margin-left: 10px;">{{favorite.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px; margin-left: 10px;">{{favorite.structured_formatting.secondary_text}}</span> <br />
								</div>
							</favorites>
						</div>
					</div>
					<div class="card" ng-show="adminCtrl.history.length > 0 && adminCtrl.searchFrom.length < 3" style="width: 98%; margin-left: 1%; margin-top: -2px; border-radius: 5px;">
						<div class="item item-divider" style="background-color: #00498c; color: white; text-align: center; border-radius: 5px 5px 0 0;">
					    	Histórico de buscas
					  	</div>
						<div class="item" style="padding: 4px; background: transparent;">
							<history ng-show="adminCtrl.history && adminCtrl.history.length > 0">

								<div class="item " style="opacity: 1.0; left: -16px; width: 110%; padding-top: 2px; padding-bottom: 2px;" 
									ng-repeat="hist in adminCtrl.history" ng-click="adminCtrl.selectAddress(hist)">
								    <img src="img/newimages/estrela_outline_cinza.png" style="position: absolute; top: 6px; left: 84%; "></i>
								    <b style="font-size: 14px; margin-left: 10px;">{{hist.structured_formatting.main_text}}</b> <br />
						   			<span style="color: #928e8e; font-size: 12px; margin-left: 10px;">{{hist.structured_formatting.secondary_text}}</span> <br />
								</div>

							</history>
						</div>
					</div>

					<div class="list" ng-show="adminCtrl.searchFrom.length >= 3">
					  	<button ng-repeat="favorite in adminCtrl.resultPlaces track by $index" 
					  		ng-click="adminCtrl.selectResultPlaces(favorite)"
					  		class="item item-icon-left" style="width: 100%; text-align: left; font-size: 14px; border-radius: 5px;">
					    	<i class="icon ion-location" style="color: #234988"></i>
					   			<b>{{favorite.structured_formatting.main_text}}</b> <br />
					   			<span style="color: #928e8e; font-size: 12px;">{{favorite.structured_formatting.secondary_text}}</span> <br />
					  	</button>
		            </div>
	            </div>
	          </div>
	        </ion-content>
	      </ion-modal-view>
	    </script>

</ion-view>
