@font-face {
  font-family: primaryFont;
  src: url(../fonts/urw.ttf)
}

@font-face {
  font-family: secondFont;
  src: url(../fonts/futura_maxi_cg_bold_regular.otf)
}

.bar.bar-positive {
  border-color: #0c60ee;
  background-color: #234988;
  background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
  color: #fff; 
}

.bar-hearder-custom {
  background-color: #00498c;
  color: #79ea6a;
}

.title-home h1 {
  font-family: primaryFont;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #00498c;
}

.card-home {
  border-radius: 10px !important;
  margin-left: 20px;
  margin-right: 20px;
}

.card .item-home {  
  background-color: #00498c;
  border-radius: 10px !important;
  padding: 0px 0px 16px 16px
}

.item-home p, .item-home h2 {
  font-family: primaryFont;
  color: #fff;
  width: 60%;
}

.card .item-home p {
  font-size: 0.7em;
  padding-bottom: 10px;
  line-height: 90%; 
}

.card .item-home h2 {
  padding-top: 26px;
  font-size: 1.3em;
  font-weight: 100;
}

.title-featured {
  font-family: secondFont;
  color: #79ea6a;
}

.item-home img {
  position: absolute;
  right: 0;
  float: right;
  height: 100%;
}

.img-top {
  top: 0;
}

.img-bottom {
  bottom: 0;
}

.menu-burguer {
  font-family: primaryFont;
  height: 534px;
}

.title-item-menu {
  font-family: secondFont;
}

.menu-burguer .menu-item-simple {
  font-size: 1em;
}

.menu-burguer .item-complex .item-content {
  font-size: 1.1em;
}

.menu-burguer .menu-item-simple, .menu-burguer .item-complex .item-content {
  background-color: #00498c;
  color: #fff;
}

.menu-burguer .menu-icon a {
  padding-right: 10px;
}

.menu-burguer .menu-icon img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
}

.menu-burguer .btn-close {
  position: absolute;
  font-size: 18pt; 
  top: 15px;
  left: 20px;
  color: #00498c;
}

.menu-burguer .menu-burguer-footer {
  background-color: #79ea6a; 
  color: #00498c; 
  border-bottom-width: 0;
  font-size: 0.9em; 
  font-weight: 900;
}

.menu-burguer .menu-burguer-footer img {
  position: absolute;
  width: 35px;
  top: 10px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 525) {

}

@media screen and (max-width: 450px) {

}